#!/bin/sh

tmux new-session -d -s monitor 'exec top'
tmux rename-window 'top'
tmux select-window -t monitor:0
tmux split-window -h 'exec bmon'
tmux rename-window 'bmon'
tmux split-window -v 'bash'
tmux -2 attach-session -t monitor